/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  width: 100px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  width: 94px;
  height: 65px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1, h1 + img {
  padding-left: 89px;
}
#tabsContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
}
#colors, #effects, #wallpapers, #reset {
  border: 1px solid black;
  width: 150%;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
}

#purple{
  background: rgba(241,63,247,1);
}
#green{
  background: rgba(0,253,81,1);
}
#blue{
  background: rgba(0,254,255);
}
#red{
  background: rgba(255,0,0,1);
}
#yellow{
  background: rgba(255,255,0,1);
}
#orange{
  background: rgba(255,127,0,1);
}
#brown{
  background: rgb(75, 44, 8);
}

#pulse {
  border-bottom: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blur {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#container {
  display: flex;
}
ul.colors {
  height: 460px;
}
ul.effects {
  height: 130px;
}
li > img {
  width: 100%;
}
ul.wallpapers {
  width: 50%;
}
li.wallpapers {
  width: auto;
  height: auto;
}
.hidden {
  display: none;
}